@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/card";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";

.badge {
    color: white;
    padding: .4em 1em;
    font-weight: normal;
}

.wrapper {
    min-height: 100vh;
}

.spinner {
    background: rgba(white, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    .spinner-border {
        animation-duration: 1s;
    }
}

.footer {
    font-size: 80%;
    .btn {
        padding: 0;
        font-size: 100%;
    }
}

.contact,
.about,
.changelog,
.privacy-policy {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 1000;
}

.contact {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.collapse-list,
.close-popup {
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    outline: none;
    border: none;
    &::after,
    &::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        display: block;
        background: #343a40;
        transition: transform 0.3s;
    }
    &.collapsed {
        &::after {
            transform: rotate(90deg);
        }
    }
}

.close-popup {
    position: fixed;
    top: 1rem;
    right: 1rem;
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(-45deg);
    }
    &:hover {
        &::after {
            transform: rotate(0);
        }
        &::before {
            transform: rotate(-180deg);
        }
    }
}

.card-header {
    border-bottom: none;
}

.card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: 300;
}

.guild {
    .text-danger,
    .text-success,
    .text-warning {
        a {
            color: inherit;
        }
        
    }
    .badge {
        cursor: pointer;
        font-size: 1rem;
        padding: 0.7em 1em;
    }
}

.imbuing {
    .input-group {
        .form-control {
            height: 46px;
        }
    }
    .badge {
        font-size: 100%;

        .badge {
            font-size: 125%;
        }
    }
}

.imbuing-img {
    cursor: pointer;
    img {
        opacity: 0.7;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
        }
        &.active {
            outline: 1px solid #80bdff;
            opacity: 1;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
    }
}

.houses-filter-by-town {
    .badge {
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .navbar {
        .btn {
            width: 100%;;
        }
    }
    .contact {
        font-size: 1.5rem;
    }
}
