@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/card";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/utilities";

.badge {
    color: white;
    padding: .4em 1em;
    font-weight: normal;
}

.wrapper {
    min-height: 100vh;
}

.collapse-list {
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    outline: none;
    border: none;
    &::after,
    &::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        display: block;
        background: white;
        transition: transform 0.3s;
    }
    &.collapsed {
        &::after {
            transform: rotate(90deg);
        }
    }
}

.guild {
    .text-danger,
    .text-success,
    .text-warning {
        a {
            color: inherit;
        }
        
    }
    .badge {
        cursor: pointer;
        font-size: 1rem;
        padding: 0.7em 1em;
    }
}

.imbuing {
    .input-group {
        .form-control {
            height: 46px;
        }
    }
    .badge {
        font-size: 100%;

        .badge {
            font-size: 125%;
        }
    }
}

.imbuing-img {
    cursor: pointer;
    img {
        opacity: 0.7;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
        }
        &.active {
            outline: 1px solid #80bdff;
            opacity: 1;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
    }
}

.healing-filter-by-town {
    .badge {
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .navbar {
        .btn {
            width: 100%;;
        }
    }
}
