@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/card";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/utilities";

.badge {
    color: white;
    padding: .4em 1em;
    font-weight: normal;
}

.wrapper {
    min-height: 100vh;
}

.guild {
    .text-danger,
    .text-success,
    .text-warning {
        a {
            color: inherit;
        }
        
    }
    .badge {
        cursor: pointer;
        font-size: 1rem;
        padding: 0.7em 1em;
    }
}

.imbuing {
    .input-group {
        .form-control {
            height: 46px;
        }
    }
    .badge {
        font-size: 100%;

        .badge {
            font-size: 125%;
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        .btn {
            width: 100%;;
        }
    }
}
